# Данный файл не входит в функционал проекта !!!

# Указываем, что проект — Python
*.py                    linguist-language=Python
**/*.py                 linguist-language=Python

# Усиливаем для папки app
app/**/*.py             linguist-language=Python
app/**/__init__.py      linguist-language=Python

# Эти папки и файлы не должны влиять на определение языка
__pycache__/**          linguist-vendored
build/**                linguist-vendored
dist/**                 linguist-vendored
*.spec                  linguist-vendored

# Кэш иконок и данные
data/icons/**           linguist-vendored
data/*.json             linguist-vendored

# Скомпилированные и временные файлы
*.pyc                   linguist-generated=true
*.pyo                   linguist-generated=true
*.pyd                   linguist-generated=true

# Файлы установщика и сборки
*.iss                   linguist-vendored
*.exe                   linguist-vendored
*.dat                   linguist-vendored

# Изображения и ассеты (чтобы не мешали)
*.png                   linguist-vendored
*.ico                   linguist-vendored
*.bmp                   linguist-vendored
assets/**               linguist-vendored
screenshots/**          linguist-vendored
